@import url('https://fonts.googleapis.com/css2?family=Consolas&display=swap'); 

body {
    background-color: rgb(47, 47, 47);
    color: white;
    font-family: Consolas, monospace;
}

/* Navbar */
.navbar {
    margin-bottom: 20px;
}

/* Terminal */
.terminal {
    background-color: rgb(64, 64, 64);
    color: white;
    font-size: 20px;
    padding: 20px;
    min-height: 300px; /* Original High and expands */
    max-width: 100%;
    overflow-y: auto; /* Allow scrolling*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    white-space: pre-wrap; /* Keep the lines */
    word-wrap: break-word; /* Doesn't allow overflow*/
}


/* Cursor */
.cursor-box {
    color: limegreen;
    display: inline-block;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}



/* Flip Card */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: rgb(47, 47, 47);
    color: white;
}

.flip-card-back {
    background-color: rgb(47, 47, 47);
    color: white;
    transform: rotateY(180deg);
}

/* Divider Line Color*/
.divider {
    width: 10px;
    height: 100%;
    background-color: limegreen;
}

/* Footer */
.footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    background-color: rgb(30, 30, 30);
}
.chip {
    display: inline-block;
    padding: 0 25px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
    background-color: rgb(7, 77, 7);
  }
  
  .chip img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .hover-text:hover {
    color: limegreen !important;
}
.bg-stripes {
    background: repeating-linear-gradient(
        30deg,
        limegreen 0px, 
        limegreen 33.33%, 
        rgb(255, 255, 255) 33.33%, 
        limegreen 66.66%, 
        white 66.66%, 
        limegreen 100%
    );
    background-size: 100px 100px;
}